@{
    ViewData["Title"] = "Contacto";
}
<div class="container cuerpo">
    <div class="row text-center justify-content-center">
        <h1>Contacto</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/imag/baner_camiones.png" class="rounded img-thumbnail" alt="baner_camiones">
        </div>
        <div class="col-md-8 form-contact">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="inputNombre4"></label>
                        <input type="text" class="form-control form-input" id="inputNombre4" placeholder="Nombre">
                    </div>
                    <div class="form-group col-md-7">
                        <label for="inputEmail4"></label>
                        <input type="email" class="form-control form-input" id="inputEmail4" placeholder="Email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputMensaje3"></label>
                        <textarea class="form-control form-input" aria-label="With textarea" id="inputMensaje3" name="Mensaje" placeholder="Mensaje......"></textarea>
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-light">Enviar</button>
            </form>
        </div>
    </div>
</div>
