@{
    ViewData["Title"] = "Nosotros";
}
<div class="container Galeria">
    <div class="row text-center justify-content-center">
        <h2>NOSOTROS</h2>
        <p>JUNTOS LLEGAMOS A UN MISMO DESTINO.</p>
    </div>

    <!-- Photo Grid -->
    <div class="Galrow justify-content-center">
        <div class="Galcolumn">
            <img src="~/imag/galeria/1583312322453.jpg" style="width:100%" />
            <img src="~/imag/galeria/img2.jpg" style="width:100%" />
            <img src="~/imag/galeria/tum_logistics_inc__cover.jpg" style="width:100%" />
            <img src="~/imag/galeria/tum_nestle1.jpg" style="width:100%" />
        </div>
        <div class="Galcolumn">
            <img src="~/imag/galeria/tum-collage.jpg" style="width:100%" />
            <img src="~/imag/galeria/tum_nestle2.jpg" style="width:100%" />
            <img src="~/imag/galeria/tum_nestle4.jpg" style="width:100%" />
            <img src="~/imag/logo_blanco.jpg" style="width:100%" />
        </div>
        <div class="Galcolumn">
            <img src="~/imag/julio3.png" style="width:100%" />
            <img src="~/imag/julio2.png" style="width:100%" />
            <img src="~/imag/chofer2.jpg" style="width:100%" />
            <img src="~/imag/chofer1.jpg" style="width:100%" />
        </div>
    </div>
</div>