@{
    ViewData["Title"] = "Servicios";
}
<div class="container cuerpo">
    <div class="row text-center justify-content-center">
        <h1>Servicios</h1>
    </div>


    <div class="row g-0 bg-light position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="~/imag/galeria/tum_nestle4.jpg" class="w-100" alt="tum_nestle4" />
        </div>
        <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0">Prueba</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#" class="stretched-link">Go somewhere</a>
        </div>
    </div>
    <div class="row g-0 bg-light position-relative">
        <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0">Prueba</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#" class="stretched-link">Go somewhere</a>
        </div>
        <div class="col-md-6 mb-md-0 p-md-3">
            <img src="~/imag/galeria/tum_nestle4.jpg" class="w-100" alt="tum_nestle4" />
        </div>
    </div>



    <div class="row g-0 bg-light position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="~/imag/galeria/tum_nestle4.jpg" class="w-100" alt="tum_nestle4" />
        </div>
        <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0">Prueba</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#" class="stretched-link">Go somewhere</a>
        </div>
    </div>
    <div class="row g-0 bg-light position-relative">
        <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0">Prueba</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#" class="stretched-link">Go somewhere</a>
        </div>
        <div class="col-md-6 mb-md-0 p-md-3">
            <img src="~/imag/galeria/tum_nestle4.jpg" class="w-100" alt="tum_nestle4" />
        </div>
    </div>

</div>
